mixin cite(key, number=null)
    span(data-key=key, data-page=number).citation

mixin bibliography(format)
    h1 Bibliography
    div(data-format=format)#bibliography
    script.
        const Cite = require('citation-js')
        var data = new Cite()
        var bibliography = document.getElementById('bibliography')
        for (var el of document.getElementsByClassName('key')) {
            let key = el.getAttribute('data-key') 
            let pg = el.getAttribute('data-page') 
            data.add(key)
            for (var cite of data.data) {
                if (cite.id == key) {
                    if(pg != null) {
                        el.innerHTML = `(${cite.author[0].family}, ${cite.issued["date-parts"][0][0]}, p. ${pg})`
                    } else {
                        el.innerHTML = `(${cite.author[0].family}, ${cite.issued["date-parts"][0][0]})`
                    }
                }
            }
        }
        var output = data.get({
            format: 'string',
            type: 'html',
            style: bibliography.getAttribute('data-format'),
            lange: 'en-US'
        })

        bibliography.innerHTML = output
        
mixin stepSVG(step, path)
    //- Allows to import progressive (=animated) SVGs into slideshow.
    //- If a SVG has elements with a ``steps`` attributes, then
    //- ``+stepSVG(4, 'my.svg')`` with only display this element if 4 is
    //- included into ``steps``.
    
    -
      var text = fs.readFileSync(basedir + path, 'utf8')
      var parsedHtml = cheerio.load(text)
      parsedHtml('*[steps]').each(function (i, c) {
        var steps = c.attribs.steps
        if (steps.indexOf('--') > -1) {
           var [min, max] = steps.split("--")
           min =  (min === '') ? 0 : parseInt(min)
           max =  (max === '') ? 10000 : parseInt(max)
           if ((step < min) || (step > max)) {
             c.attribs['style'] = 'display: none;'
           }
        } else if (c.attribs.steps.split(',').indexOf(step.toString()) === -1) {
          c.attribs['style'] = 'display: none;'
        }
      })
    div(width="100%")!= parsedHtml.html()
